body {
    font-family: Arial, sans-serif;
    background-color: #4d4dff; 
    color: #fff;
}

.header-strip {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
}

#body-title {
    text-decoration: underline;
            font-style: italic;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
         
        }

.container {
    max-width: 800px; 
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #b9b9b9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

input {
    width: 70%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.previous-searches {
    background-color:  #b9b9b9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

#weatherInfo {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #0c41e0;
    border-radius: 4px;
    background-color: #0c41e0;
}


.weather-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
    width: calc(20% - 20px); 
    margin-bottom: 20px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    padding: 10px; 
}


.card .title {
    font-size: 18px;
    font-weight: bold;
}


.card p {
    margin: 5px 0;
}